.addTodo {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 25px;
    list-style: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #4d4d4d;
}

.addTodo.isFocused {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.input {
    outline: none;
    width: 100%;
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    cursor: text;
    margin: 0 15px 0 33px;
}

.input,
.plus {
    opacity: 0.5;
}

.addTodo.isFocused .input {
    opacity: 1;
}

.plus {
    display: block;
    position: absolute;
    top: 5px;
    left: 24px;
    width: 16px;
    height: 16px;
    padding: 4px;
}

.plus:before,
.plus:after {
    position: absolute;
    left: 11.375px;
    top: 6px;
    content: ' ';
    height: 12px;
    width: 1.25px;
    background-color: #333;
}

.plus:before {
    transform: rotate(90deg);
}
