.input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}
