.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    padding: 25px 0;
    box-sizing: border-box;
}

.container header {
    width: 85%;
    align-self: center;
}

.inputTodo {
    width: 100%;
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    cursor: text;
    margin: 0 15px;
}

.inputTodo.isAdding {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
}
