.text {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.text,
.edit {
    width: 100%;
}

.edit {
    box-sizing: border-box;
    border: none;
}

.edit:focus {
    outline: none;
    padding: 0;
}
