.todo {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 5px 25px;
    list-style: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.todo.isEditing {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.isComplete {
    text-decoration-line: line-through;
}

.todoText {
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.checkbox {
    user-select: none;
    margin-top: 3px;
}

.todo:hover > svg path {
    fill: #333;
}

.drag {
    cursor: move;
}
