.todo {
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px 25px;
    list-style: none;
    height: 30px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
}

.todo.isEditing {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.todo:hover > svg path {
    fill: #333;
}

.drag {
    cursor: move;
}
