.todo {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 25px 5px 30px;
    list-style: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.todo.isEditing {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.isComplete {
    text-decoration-line: line-through;
}

.todoItem {
    position: relative;
    width: 100%;
    padding-left: 15px;
}

.todoText {
    position: relative;
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    cursor: text;
}

.checkbox {
    user-select: none;
    margin-top: 3px;
}

.deleteButton {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    width: 16px;
    height: 16px;
    padding: 4px;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
}

.deleteButton:hover {
    display: block;
    opacity: 0.9;
    background-color: #5f636828;
}

.deleteButton:before,
.deleteButton:after {
    position: absolute;
    left: 11.375px;
    top: 5.5px;
    content: ' ';
    height: 13px;
    width: 1.25px;
    background-color: #333;
}

.deleteButton:before {
    transform: rotate(45deg);
}

.deleteButton:after {
    transform: rotate(-45deg);
}
