.todo {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 25px;
    list-style: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #4d4d4d;
}

.todo.isEditing {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.isComplete {
    color: #5f6368;
    text-decoration-line: line-through;
}

.todoText {
    width: 100%;
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    cursor: text;
    margin: 0 15px;
}

.input {
    margin-left: 33px;
}

.input.isEditing {
    opacity: 1;
}

.placeholder:focus {
    outline: none;
}

.input,
.deleteButton,
.plus {
    opacity: 0.5;
}

.checkbox {
    user-select: none;
    margin-top: 3px;
}

.deleteButton {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 16px;
    height: 16px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.deleteButton:hover {
    display: block;
    opacity: 0.9;
    background-color: #5f636828;
}

.deleteButton:before,
.deleteButton:after {
    position: absolute;
    left: 11.375px;
    top: 5.5px;
    content: ' ';
    height: 13px;
    width: 1.25px;
    background-color: #333;
}

.deleteButton:before {
    transform: rotate(45deg);
}

.deleteButton:after {
    transform: rotate(-45deg);
}

.plus {
    display: block;
    position: absolute;
    top: 5px;
    left: 24px;
    width: 16px;
    height: 16px;
    padding: 4px;
}

.plus:before,
.plus:after {
    position: absolute;
    left: 11.375px;
    top: 6px;
    content: ' ';
    height: 12px;
    width: 1.25px;
    background-color: #333;
}

.plus:before {
    transform: rotate(90deg);
}
