.todo {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 25px;
    list-style: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #4d4d4d;
}

.todo.isFocused {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.todo.isComplete {
    color: #5f6368;
    text-decoration-line: line-through;
}

.text {
    width: 100%;
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    cursor: text;
    margin: 0 15px;
    outline: none;
}

.checkbox {
    margin-top: 3px;
}

.delete {
    margin-right: 4px;
    padding: 0 5px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}
